body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.custom-text {
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #00b300;
  font-weight: normal;
}

.im-ryan {
  width: 400px;
  margin-top: 50px;
  color: #00b300;

}
h1 {
  font-family: 'Shadows Into Light', cursive;
  width: 10%;
  font-size: 600%;
  margin: 0 auto 0 auto;
  color:#66BFBF;
}

h2 {
  font-family: 'Shadows Into Light', serif;
  color:#00b300;
}

h3 {
  color:#00b300
}

.footer-link {
  color: #11999E
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.sun {
  position:fixed;
  left: 30px;
  top: 20px;
  width: 200px;
  height: 200px;
}

.bottom-cloud {
  position: fixed;
  left: 10%;
  width: 15%;
}

.top-cloud {
  position: fixed;
  right: 10%;
  width: 15%;

}

.blackcat {
  width: 250px;
  height: 250px;
  float: left;
}

.bobmarleycat {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 30px;
  padding-bottom: 0px;
  position: relative;
  bottom: 13%;
}

.sushicat {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
  position: relative;


}

.skill-row1 {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 2;
}

.skill-row3 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}
